############################
## IDE settings
############################
.settings/
.idea/
*.iml

############################
## Java settings
############################
target/
metas/
META-INF/
*.log
*.log.*

############################
## log files
############################
*.tsv
*.log